@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Manrope:wght@500&family=Outfit:wght@700&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: 'Manrope' sans-serif;
}
.main{
    background-color: white;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    margin: 2rem;
    max-width: 900px;
    margin: auto;
}
.beauty{
    width: 100%;
    height: 100%;
}
.stugo{
    margin: 30px;
}
.inugo{
    font-size: 20px;
    margin-bottom: 15px;
    color: hsl(217, 19%, 35%);
}
.test{
    font-size: 20px;
    color: hsl(212, 23%, 69%);
    margin-bottom: 20px;
}
.ego {
    border: none;
    border-radius: 50%;
    transform: translateX(-10%);
    background: white;
    width: 30px;

}
.tutu{
    display: flex;
}
.testimonal{
    margin: 15px;
}
.name{
    margin-bottom: 7px;
    color: hsl(217, 19%, 35%);
}
.date{
    color: hsl(214, 17%, 51%);
}
.amature{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.tubo img {
    border: none;
    border-radius: 50%;
    transform: translateX(-10%);
    width: 30px;
}
.oko{
    display: flex;
    position: absolute;
    top: 300px;
    left: 75%;
    background-color: hsl(217, 19%, 35%);
    margin: 5px;
    border-radius: 10px;
}
.oko h4 {
    margin: 10px;
    color: hsl(214, 17%, 51%);
    font-size: 13px;
}
.school{
    width: 100%;
    height: 25px;
}

/*media query*/
@media only screen and (max-width: 425px) {
    .body{
        text-align: center;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .beauty{
        flex-direction: column;
    }
    .test{
        padding: 5px;
        font-size: 18px;
    }
    
}